.chatbubble-infinite-scroll {
  animation: infinite-scroll 10s linear infinite;
}

@keyframes infinite-scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
